@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #13181c;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

* {
    box-sizing: border-box;
}

ul {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type=text], input[type=email], input[type=number], textarea {
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px 20px;
}

.header {
    position: relative;
    background-color: #252d35;
    height: 250px;
    color: #f4f5f9;
}

.banner-header {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.2;
    transition: all .2s ease-in-out;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.title-header {
    position: absolute;
    bottom: 30px;
    left: 63px;
    font-size: 50px;
    font-weight: 100;
    transition: all .2s ease-in-out;
    z-index: 5;
}

.header-movies {
    margin-top: 40px;
    margin-left: 63px;
    margin-bottom: 20px;
    color: #f0f0f0;
    font-weight: 600;
}

.wrapper-movies {
    position: relative;
    margin: auto;
    padding: 0px 48px;
}

.card-movie {
    position: relative;
    width: 250px;
    border-radius: 15px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 12px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -37px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -37px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
}

.card-movie:hover {
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.75);
}

.img-movie {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.content-movie {
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.content-movie:hover {
    background-color: #2c50ee;
    opacity: 0.9;
    color: #ffffff;
}

.desc-movie {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
    margin-bottom: 30px;
}

.date-movie, .lang-movie {
    font-size: 1em;
    margin-bottom: 10px;
}

.title-movie {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.popularity {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.1em;
}

.rating {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5em;
    font-weight: 800;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #2c50ee;
    background-color: #ffffff;
    padding: 3px 5px;
}

.lang {
    background-color: #ffffff;
    padding: 2px 3px;
    color: #2c50ee;
    font-weight: bold;
    text-transform: uppercase;
}

.feedback-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 500px;
}

.feedback-form {
    flex: 1;
}

.feedback-form form {
    color: #f0f0f0;
    margin-left: 63px;
    margin-right: 48px;
}

.feedback-form form label {
    margin: 20px 0px;
    font-size: 1.3em;
}

.btn-submit {
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px 20px;
    background-color: #2c50ee;
    color: #ffffff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn-submit:hover {
    background-color: #ffffff;
    color: #2c50ee;
}

.getintouch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #2c50ee;
    color: #ffffff;
    flex: 1;
    height: 300px;
}

.slide-fade-enter-active,
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-10px);
    opacity: 0;
  }